.resize {
    width:1015px;
    height:400px;
    object-fit: cover;
}

.navbar {
    margin-top: -0.9%;
    margin-bottom: -0.9%;
}

.favContainer {
    height: 400px;
}

.resize2 {
    width: 400px;
}